<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ng-container *ngIf="user">
          <ion-button fill="clear" (click)="openAvatarPicker()">
            <ion-avatar style="width: 36px; height: 36px; margin-right: 8px">
              <img
                [src]="
                  user.avatar || 'https://www.gravatar.com/avatar?d=mp&s=80'
                "
                alt="avatar"
              />
            </ion-avatar>
          </ion-button>
          <ion-label style="margin-left: 4px">{{ user.username }}</ion-label>
        </ng-container>
      </ion-buttons>

      <ion-buttons slot="end">
        <ng-container *ngIf="user; else guestButtons">
          <ion-button fill="clear" (click)="logout()">Cerrar sesión</ion-button>
        </ng-container>
        <ng-template #guestButtons>
          <ion-button fill="clear" routerLink="/login">Entrar</ion-button>
          <ion-button fill="clear" routerLink="/register">Registro</ion-button>
        </ng-template>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <input
    #avatarInput
    type="file"
    accept="image/*"
    capture="environment"
    style="display: none"
    (change)="onAvatarSelected($event)"
  />

  <ion-router-outlet></ion-router-outlet>
</ion-app>
