<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCreateModal()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Eliminado header condense y texto Blank -->

  <div class="product-grid">
    <app-product-card
      *ngFor="let product of products"
      [product]="product"
      (addToCart)="addToCart($event)"
      (goToDetail)="goToDetail($event)"
      (editProduct)="editProduct($event)"
      (deleteProduct)="deleteProduct($event)"
    ></app-product-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/cart">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
