<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">Entrar</ion-button>
  </form>

  <div class="ion-text-center ion-margin-top">
    <ion-button fill="clear" (click)="router.navigateByUrl('/register')">¿No tienes cuenta? Regístrate</ion-button>
  </div>
</ion-content>
